.jumbotron {
  color: whitesmoke;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer {
  background-color: #222;
  padding-top: 30px;
  color: whitesmoke;
  padding-bottom: 30px;
  text-align: center;
}

.navbar-collapse a:hover {
  background-color: #222;
  color: whitesmoke;
}

.carousel-item {
  height: 400px;
 
}

#skil{
 background-color:  lightblue;
}

.carousel-item img {
  width: 100%;
}

@media (min-width: 780px) {
  .carousel-inner {
  height: 400px;
  }

  .carousel-inner img{
    height: 100%;
  }
}




@media (max-width: 1199.98px) {
.navbar-collapse a:hover{
background-color: transparent;
color: #222;
}
}